<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Maps -->
      <package
            uri="maps"
            class="maps.MapsPackage"
            genModel="model/Maps.genmodel"/>
   </extension>

</plugin>
