[submodule "HAI916I/tp/tp4/code2vec"]
	path = HAI916I/tp/tp4/code2vec
	url = https://github.com/tech-srl/code2vec.git
[submodule "HAI912I/tp/tp2/WeatherApp"]
	path = HAI912I/tp/tp2/WeatherApp
	url = git@github.com:DocAmaroo/WeatherApp.git
[submodule "HAI912I/tp/tp2/QuizzApp"]
	path = HAI912I/tp/tp2/QuizzApp
        url = git@github.com:DocAmaroo/QuizzApp.git
[submodule "HAI916I/tp/tp6/TP-Master-MTP-GL-IA4GL"]
	path = HAI916I/tp/tp6/TP-Master-MTP-GL-IA4GL
	url = https://github.com/qperez/TP-Master-MTP-GL-IA4GL.git
